---
---

@import "{{ site.theme }}";
#project_title {
	font-family: monospace;
}
#project_title a {
	color: inherit;
}
h2#project_tagline {
	padding: 0;
}
#header_wrap .inner {
  padding: 10px;
}
footer a {
	text-decoration: unset;
}
footer p {
	text-align: right;
}
.inner {
	max-width: 80%;
}
.photo-gallery {
	list-style: none;
    padding: 0;
    margin: 0;
}
.photo-gallery figure {
	position: relative;
	margin: 15px 0;
	text-align: center;
}
.photo-gallery figcaption {
	text-align: center;
}
.photo-gallery img {
	margin: 0;
	padding: 0;
	border: none;
	vertical-align: middle;
	max-width: 100%;
}
.quarter {
	width: 25%
}
.half {
	width: 50%
}
.garmin {
    overflow-x: auto;
}
.garmin iframe {
    width: 465px;
}